<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Add New Admin</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include files/header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add New Admin</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Add New Admin</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="card card-primary">
        <!--<div class="card-header">
          <h3 class="card-title">Quick Example</h3>
        </div>-->
        <!-- /.card-header -->
        <!-- form start -->
        <form action="/add-new-admin" id="add-new-admin" method="POST" role="form">
          <div class="card-body">
            <div class="row">
              <% if (locals.errors) { %>
                    <% Object.values(errors).forEach(function(error){ %>

                      <div class="col-12 alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>   
                    <% }); %>
                <% } %>
                <% if (locals.messages) { %>
                  <% Object.values(messages).forEach(function(message){ %>

                    <div class="col-12 alert alert-success alert-dismissible fade show" role="alert">
                      <%= message.message %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>   
                  <% }); %>
              <% } %>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="name" name="name" class="form-control" id="name" placeholder="Enter Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="employee_id">Employee ID *</label>
                  <input type="text" name="employee_id" class="form-control" id="employee_id" placeholder="Enter Employee ID">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="mobile_number">Mobile Number *</label>
                  <input type="tel" name="mobile" class="form-control" id="mobile_number" placeholder="Enter Mobile Number">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="designation">Designation *</label>
                  <input type="text" name="designation" class="form-control" id="designation" placeholder="Designation">
                </div>
              </div>
              
              
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.5
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- jquery-validation -->
<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="../../plugins/jquery-validation/additional-methods.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script>
  $(document).ready(function(e) {
    setTimeout(function(){ 
      $(".alert").alert('close');
    }, 10000);
    
  $('#add-new-admin').validate({
    rules: {
      name: {
        required: true,
      },
      employee_id: {
        required: true,
      },
      mobile: {
        required: true
      },
      designation: {
        required: true
      },
    },
    messages: {
      name:"Please enter a name",
      employee_id:"Please enter a employee id",
      mobile:"Please enter a mobile Number",
      designation: "Please enter a designation"
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
  });
</script>
</body>
</html>
