<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Recover Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>ETI </b>INVESTMENT MANAGEMENT SYSTEM</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
      <% if (locals.errors) { %>
        <ul>
            <% Object.values(errors).forEach(function(error){ %>
                  <li><%= error.message %></li>
            <% }); %>
        </ul>
        <% } %>
      <form action="/forgot-password-change" method="post">
        <div class="input-group mb-3">
          <input name="otp" type="password" class="form-control" placeholder="OTP">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="password" type="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="conpass" type="password" class="form-control" placeholder="Confirm Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" id="user_forget_resend_success">
          
          </div>
          <div class="col-12" id="user_resend_err">
          
          </div>
      </div>
        <div class="row">
          <div class="col-6">
            <button id="user_forget_resend_otp" type="button" disabled class="btn btn-info btn-block">Resend OTP <span>60</span></button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Change password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href="/">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<script>
  $(document).ready(function(e) {
    var resendtimes=1;
    function start_counter(){
      $('#user_forget_resend_otp').prop('disabled', true);
    var counter = 60;
    var interval = setInterval(function() {
      counter--;
      if (counter <= 0) {
        clearInterval(interval);
        $('#user_forget_resend_otp span').text('');
        return;
      }else{
        $('#user_forget_resend_otp span').text(counter);
      }
    }, 1000);
    setTimeout(function(){  
         $('#user_forget_resend_otp').prop('disabled', false);
      }, 60000);
    }
    start_counter();
      $('#user_forget_resend_otp').on('click',function(e) {
      $('#content_loder').modal('show');
      $('#user_forget_resend_success,#user_resend_err').text('');
      if(resendtimes==3){
        $('#user_forget_resend_otp').prop('disabled', true);
        $('#user_resend_err').text('Your try maximum time!');
        $('#content_loder').modal('hide');
        return false;
      }
      resendtimes=resendtimes+1;
      $.ajax({ 
        type: "POST",
        url:  "/forgot-password-otp",  
        data: {val:'resend'},
        success: function(result){ 
          if(result==1){
            $('#user_forget_resend_success').text('OTP sent successfully');
            start_counter();
          }else{
            $('#user_resend_err').text('Something wrong! please try again.');
          }
          $('#content_loder').modal('hide');
        }
      });
      
    });
    
  });
  </script>
</body>
</html>
